In [6]:
import os
import sys
from arcgis.features import GeoAccessor

sys.path.append('../src')

from geoai_retail import proximity

In [15]:
data_dir = os.path.abspath(r'D:\projects\nike-sprint4\data')
int_dir = os.path.join(data_dir, 'interim')
raw_dir = os.path.join(data_dir, 'raw')
int_gdb = os.path.join(int_dir, 'interim.gdb')
raw_gdb = os.path.join(raw_dir, 'raw.gdb')

geographic_origin_fc = os.path.join(int_gdb, 'ZIPCodes_analysis')
destination_fc = os.path.join(int_gdb, 'nike_stores_dtc')

In [16]:
origin_df = GeoAccessor.from_featureclass(geographic_origin_fc)
origin_df.sample(5)

,OBJECTID,ID,NAME,SHAPE
6310,6311,56339,Hoffman,"{""rings"": [[[-95.75066999999996, 45.9060700000..."
15731,15732,49503,Grand Rapids,"{""rings"": [[[-85.67193999999995, 42.9846700000..."
18770,18771,23350,Exmore,"{""rings"": [[[-75.83850999999999, 37.5556900000..."
19055,19056,17980,Tower City,"{""rings"": [[[-76.51087999999999, 40.5996300000..."
1466,1467,93301,Bakersfield,"{""rings"": [[[-119.01246999999995, 35.409610000..."

In [17]:
dest_df = GeoAccessor.from_featureclass(destination_fc)
dest_df.sample(5)

,OBJECTID,Field1,ACCT_CLASS,ADDRESS_MATCH_TYPE,ADPT,ANNL_SLS_PER_AREA_UNT,ANNL_TRFC,BANNERS,BRND_NM,CITY_NM,...,STR_DSTR_TIER_DESC,STR_LEAD_CAT,STR_LOC_NM,STR_NM,STR_STAT,STR_TYPE,SUB_TERR_NM,TEMPORARY_STORE,TOT_SPC,SHAPE
996,997,996,None,Nike_Inc,61.0,NaN,101986.0,None,Nike,HANGZHOU,...,Good,Running,None,Hangzhou Wangjiang,Open,DTC/Retail,None,None,5412.0,"{""x"": 120.191599999745, ""y"": 30.22880000025031..."
1190,1191,1190,None,Nike_Inc,41.0,NaN,356187.0,None,Nike,SANTO ANDRE,...,Good,Running,None,Santo André,Open,DTC/Retail,None,None,10968.0,"{""x"": -46.526813999582146, ""y"": -23.6570999996..."
321,322,321,None,Nike_Inc,45.0,NaN,133357.0,None,Nike,GRONINGEN,...,Good,Running,None,Groningen,Open,DTC/Retail,None,None,11162.0,"{""x"": 6.557143000471853, ""y"": 53.2150220003079..."
10,11,10,Territory Field,Nike_Inc,NaN,NaN,NaN,None,Nike,Changchun,...,None,None,Changchun Jiutai,None,Open,DTC/Retail,China,None,9071.0,"{""x"": 125.32707800006096, ""y"": 43.947699999598..."
1153,1154,1153,None,Nike_Inc,71.0,NaN,368120.0,None,Nike,FLORENCE,...,Good,None,None,Florence The Mall,Open,DTC/Retail,None,None,16652.0,"{""x"": 11.462602999501371, ""y"": 43.699815000171..."

In [ ]:
dest_df = GeoAccessor