In [19]:
import os
import pandas as pd
from arcgis.features import GeoAccessor
from arcgis.geometry import Geometry

In [4]:
inrix_trips_csv = os.path.abspath('../data/external/raw_trips.csv')

In [27]:
%%time
df = pd.read_csv(inrix_trips_csv, index_col=0)
df.reset_index(drop=True, inplace=True)
df['start_x'] = df['SHAPE'].apply(lambda geom: Geometry(eval(geom)).x)
df['start_y'] = df['SHAPE'].apply(lambda geom: Geometry(eval(geom)).y)
df.drop('SHAPE', axis=1, inplace=True)

C:\Program Files\ArcGIS\Pro\bin\Python\envs\arcgis-535\lib\site-packages\numpy\lib\arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

Wall time: 46.2 s

In [28]:
df.sample(5)

,travel_distance_miles,travel_time_minutes,store_locnum,start_x,start_y
215153,1.025262,3.100000,447975780,-122.775043,45.483029
460511,4.790149,15.516667,637497553,-122.765523,45.480990
1247340,5.196526,10.050000,724623402,-122.630666,45.563076
1150305,0.927707,9.183333,637497496,-122.661450,45.523470
558892,9.349769,23.950000,367407582,-122.549263,45.468075

In [29]:
df.to_csv('../data/external/raw_trips_xy.csv')

In [31]:
coffee_df = GeoAccessor.from_featureclass(r'..\data\test\test.gdb\four_coffee')
coffee_df

,OBJECTID,LOCNUM,CONAME,STREET,CITY,STATE,STATE_NAME,ZIP,ZIP4,NAICS,...,FRNCOD,ISCODE,SQFTCODE,LOC_NAME,STATUS,SCORE,SOURCE,REMOVE,open_status,SHAPE
0,1,456044700,STARBUCKS,COURT ST NE,SALEM,OR,Oregon,97301,3526,72251505,...,4,,2,PointAddress,M,100.0,INFOGROUP,0,None,"{""x"": -123.03840000049007, ""y"": 44.94140000013..."
1,2,396147688,STARBUCKS,CENTER ST NE,SALEM,OR,Oregon,97301,2297,72251505,...,4,,2,PointAddress,M,100.0,INFOGROUP,0,None,"{""x"": -123.02449999995747, ""y"": 44.94069999958..."
2,3,723264680,EMPIRE COFFEE & BUBBLE TEE,STATE ST,SALEM,OR,Oregon,97301,,72251505,...,,,1,PointAddress,M,100.0,INFOGROUP,0,None,"{""x"": -123.02380000041268, ""y"": 44.93650000032..."
3,4,724624350,STARBUCKS,CHURCH ST SE,SALEM,OR,Oregon,97301,3706,72251505,...,4,,2,PointAddress,M,100.0,INFOGROUP,0,None,"{""x"": -123.03670000030985, ""y"": 44.93799999977..."

In [34]:
coffee_id_arr = coffee_df['LOCNUM'].values
coffee_id_arr

array(['456044700', '396147688', '723264680', '724624350'], dtype=object)

In [38]:
df_four_coffee = df[df['store_locnum'].apply(lambda val: str(val) in coffee_id_arr)]
df_four_coffee.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5796 entries, 34389 to 43787
Data columns (total 5 columns):
travel_distance_miles    5796 non-null float64
travel_time_minutes      5796 non-null float64
store_locnum             5796 non-null int64
start_x                  5796 non-null float64
start_y                  5796 non-null float64
dtypes: float64(4), int64(1)
memory usage: 271.7 KB

In [39]:
df_four_coffee.to_csv('../data/external/raw_trips_xy_four_coffee.csv')